
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Chi tiết đơn hàng: @ViewBag.bill.id</h3>
                <h5>Trạn thái đơn hàng: @ViewBag.bill.status</h5>
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th  class="w-25">Sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in ViewBag.billDetails)
                            {
                                <tr id="cartItem_@c.Key.id">
                                    <td class="shoping__cart__item w-25">
                                        <img src="@c.Key.imageUrl" alt="" class="w-50">

                                        <input type="hidden" value="@c.Key.id" class="pictureId" />
                                    </td>
                                    <td>
                                        @c.Key.name
                                    </td>
                                    <td class="shoping__cart__price">
                                        @c.Key.price (VNĐ)
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        @c.Value
                                    </td>
                                    <td class="shoping__cart__total">
                                        @Html.Raw(c.Key.price * c.Value) (VNĐ)
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td colspan="4">
                                    <h5>Tổng tiền:</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.total (VNĐ)</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-2">
                <a href="@Url.Action("Index", "Bills")" class="btn btn-primary">Quay về</a>
            </div>
        </div>
    </div>
</section>

