@model LaptopStore.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="bg-white shadow ">
    <h4 class="pt-2 pl-5">Bạn chắc chắn muốn xóa sản phẩm này?</h4>
    <hr />
    <dl class="dl-horizontal pt-2 pl-5">
        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likeCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likeCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            <img src="@Model.imageUrl"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color p-5 d-flex flex-row">
            <input type="submit" value="Xóa" class="btn btn-danger mr-2" />
            <div>@Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-dark" })</div>
        </div>
    }
</div>
