@model LaptopStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div  class="bg-white shadow ">
    <h4 class="pt-2 pl-5">Chi tiết tác phẩm</h4>
    <hr />
    <dl class="dl-horizontal pt-2 pl-5">
        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortDescript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortDescript) (VND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price) (VND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.percentSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percentSale) (%)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.promotionPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promotionPrice) (VND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardDrive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardDrive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardVGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardVGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.screenMonitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screenMonitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.camera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.connector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.connector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.battery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.battery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.operatingSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operatingSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likeCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likeCount)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="@Model.imageUrl" class="w-25" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    <div class="form-actions no-color pt-2 pb-2 pl-5 d-flex flex-row">
        <div>@Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.id }, new { @class = "btn btn-warning mr-2" })</div>
        <div>@Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-primary" })</div>
    </div>
</div>