@model LaptopStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Model.imageUrl" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.name</h3>
                    <input type="hidden" value="@Model.id" id="idProduct">
                    @*<div class="product__details__rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <span>(18 reviews)</span>
            </div>
        <div class="product__details__rating">
            <i class="fa fa-heart"></i>
            <span>@Model.viewCount views</span>
        </div>*@
                    <div class="product__details__price">@String.Format("{0:0,0 VNĐ}", @Model.price)</div>
                    <div class="product__details__price"><x class="no_sale">@String.Format("{0:0,0}",((@Model.price*100)/(100-@Model.percentSale))) VNĐ</x></div>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">

                                <input type="text" value="1" id="countProduct">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="primary-btn" onclick="addItemIntoCart()">Thêm vào giỏ</button>
                    <a href="javascript:void(0)" class="heart-icon" onclick="view(@Model.id)"><span class="icon_heart_alt"></span></a>
                    <p><b>Trạng thái</b> <span>@Model.status</span></p>

                    <ul class="info">
                        <strong>Thông số kỹ thuật</strong>
                        <li><b>CPU</b> <span>@Model.cpu</span></li>
                        <li><b>RAM</b> <span>@Model.ram</span></li>
                        <li><b>Ổ cứng</b> <span>@Model.hardDrive</span></li>
                        <li><b>Card VGA</b> <span>@Model.cardVGA</span></li>
                        <li><b>Màn hình</b> <span>@Model.screenMonitor</span></li>
                        <li><b>Cổng kết nối</b> <span>@Model.connector</span></li>
                        <li><b>Trọng lượng</b> <span>@Model.weight</span></li>
                        <li><b>Pin</b> <span>@Model.battery</span></li>
                        <li><b>Hệ điều hành</b> <span>@Model.operatingSystem</span></li>

                    </ul>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <h3>Mô tả</h3>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <p>@Model.content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Sản phẩm liên quan</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @*@foreach(var p in ViewBag.relatedProducts)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@p.imageUrl">
                                <ul class="product__item__pic__hover">
                                    <li><a href="@Url.Action("Details", "Products", new { id = p.id})"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="javascript:void(0);" onclick="view(@p.id)"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="javascript:void(0);" onclick="addCart(@p.id, 1)"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">@p.name</a></h6>
                                <h5>@p.price</h5>
                            </div>
                        </div>
                    </div>

                }*@

        </div>
    </div>
</section>
<!-- Related Product Section End -->

<script>
    function addItemIntoCart() {
        var id = document.getElementById("idProduct").value;
        var count = document.getElementById("countProduct").value;
        console.log(id, count);
        addCart(id, count);
    }
</script>
