
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <h3>Chi tiết đơn hàng: @ViewBag.bill.id</h3>
                    <h5>Ngày đặt: @ViewBag.bill.dateCreate</h5>
                    <h5>Trạng thái đơn hàng: @ViewBag.bill.status</h5>
                    <h5>Người đặt: @ViewBag.bill.user.username </h5>
                    <h5>Điện thoại : @ViewBag.billDetail.phoneNumber</h5>
                    <h5>Địa chỉ : @ViewBag.billDetail.address</h5>
                    <h5>Lý do : @ViewBag.bill.note</h5>
                </div>
                <br />
                <hr />

                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in ViewBag.billDetails)
                            {
                                <tr id="cartItem_@c.Key.id">
                                    <td class="shoping__cart__item">
                                        <img class="w-25" src="@c.Key.imageUrl" alt="">
                                        <h5>@c.Key.name</h5>
                                        <input type="hidden" value="@c.Key.id" class="pictureId" />
                                    </td>
                                    <td class="shoping__cart__price">
                                        @c.Key.promotionPrice
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        @c.Value
                                    </td>
                                    <td class="shoping__cart__total">
                                        @Html.Raw(c.Key.promotionPrice * c.Value)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">

                    <ul>
                        <li>Tổng tiền <span>@ViewBag.total (VNĐ)</span></li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="@Url.Action("Index", "Bill")" class="site-btn">Quay về</a>
            </div>
            @if (ViewBag.bill.status != "Đã hủy")
            {
                <div class="col-lg-6">@Html.ActionLink("Hủy", "Delete", new { id = ViewBag.bill.id }, new { @class = "btn btn-danger m-1" })</div>

            }
        </div>
    </div>
</section>

